name: main
on:
  push:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-dotnet@v5.1.0
        with:
          dotnet-version: "8.0.x"
      - uses: actions/setup-node@v6
        with:
          node-version: 24
      - run: dotnet build
      - run: npm ci
      - run: npx tsc
      - run: npm run lint
      - name: Upload artifacts
        uses: actions/upload-artifact@v6
        with:
          name: dist
          path: |
            dist
            !dist/test

  coverage:
    runs-on: ubuntu-latest
    container: mcr.microsoft.com/dotnet/sdk:8.0
    name: coverage
    services:
      # Label used to access the service container
      postgres:
        image: postgres:16
        env:
          POSTGRES_HOST_AUTH_METHOD: trust
          POSTGRES_DB: apitest
        # Set health checks to wait until postgres has started
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432
    steps:
      - uses: actions/checkout@v6
      - run: dotnet test /p:CollectCoverage=true
      - name: publish coverage report to coveralls.io
        uses: coverallsapp/github-action@v2.3.7
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          path-to-lcov: coverage/coverage.info
          format: lcov

  release:
    name: Semantic Release
    if: github.event_name == 'push' && (github.ref == 'refs/heads/main' || github.ref == 'refs/heads/develop')
    permissions:
      contents: write # to be able to publish a GitHub release
      issues: write # to be able to comment on released issues
      pull-requests: write # to be able to comment on released pull requests
      id-token: write # to enable use of OIDC for trusted publishing and npm provenance
    runs-on: ubuntu-latest
    needs:
      - build
      - coverage
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Use Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 24
      - uses: actions/setup-dotnet@v5.1.0
        with:
          dotnet-version: "8.0.x"
      - name: Install packages
        run: npm ci
      - name: Verify the integrity of provenance attestations and registry signatures for installed dependencies
        run: npm audit signatures
      - name: Download dist from build
        uses: actions/download-artifact@v7
        with:
          name: dist
          path: dist/
      - name: Semantic Release
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
          NUGET_TOKEN: ${{ secrets.NUGET_TOKEN }}
        run: npx semantic-release
